<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestNGSuite">
	<test name="TestNGTest">

	<parameter name="name" value="Gopalakrishnan" />
	
		<groups>
			<define name="sample">
				<include name="tests" />
				<include name="methods" />
			</define>

			<run>
				<include name="sample" />
				<exclude name="methods"></exclude>
			</run>

		</groups>
		<classes>
			<class name="TestNG.BasicTestNG" />
		</classes>

	</test>
</suite>
